* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
.home {
  height: 100vh;
  background-image: url(../imges/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.home .navbar {
  background-color: transparent;
  border-bottom: 1px solid #fff;
}
.navbar-toggler {
  color: #fff;
}
.navbar-toggler:focus {
  box-shadow: none;
  font-size: 30px;
}
.home .navbar .navbar-nav .nav-item .nav-link {
  color: #fff;
  margin-left: 50px;
}
.home .navbar .navbar-nav .nav-item .active {
  color: #ffaa17;
}
.home .navbar .navbar-nav .nav-item .nav-link:hover {
  color: #ffaa17;
}
.home .home-content {
  padding-top: 15%;
  text-align: start;
  color: #fff;
}
.home .home-content h4 {
  color: #ffaa17;
  font-size: 30px;
}
.home .home-content h1 {
  font-size: 65px;
  margin: 20px 0 10px 0;
}
.home .home-content p {
  color: #e4e4e4;
  font-weight: bold;
  margin-bottom: 50px;
  font-size: 30px;
}
.home .home-content .btn {
  background-color: #ffaa17;
  color: black;
  padding: 10px 30px;
}
.home .home-content .btn:hover {
  background-color: #fff;
  color: #ffaa17;
}
.home .home-content .btn:focus {
  box-shadow: none;
}

.home .img-container img {
  position: absolute;
  bottom: 25%;
  right: 10%;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  
}
@media (max-width: 990px) {
  .home .img-container img {
    width: 400px;
    height: 400px;
    left: 50%;
    top: 18%;
  }
  .home .home-content .text-content {
    position: absolute;
    bottom: 40px;
    left: 40px;
  }
}
@media (min-width: 200px) and (max-width: 600px) {
  .home .img-container img {
    width: 350px;
    height: 350px;
    left: 35%;
    top: 10%;
  }
}
.about-section {
  padding: 90px 0;
  background-color: #fff;
}
.about-section img {
  width: 450px;

  margin-bottom: 40px;
}
.about-section .text {
  color: #1c1e22;
  padding-left: 40px;
}
.about-section .text h1 {
  font-size: 40px;
  font-weight: bold;
}
.about-section .text h1 span {
  color: #ffaa17;
  font-size: 40px;
  font-weight: 600;
}
.about-section .btn {
  background-color: #ffaa17;
  color: #fff;
}
.about-section .text h3 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}
.about-section .btn:focus {
  outline: none;
}
.about-section .btn:hover {
  background-color: #fff;
  color: #ffaa17;
  border: 1px solid #ffaa17;
}

@media (max-width: 900px) {
  .about-section img {
    width: 340px;
  }
}
.Services{
  background-color: #f0f4f9;
}
.Services .text h1{
  font-size: 50px;
}
.Services .text span{
  color: #ffaa17;
  text-transform: capitalize;
}
.Services .card{
  background-color: #fff;
  padding: 40px 20px;
  margin: 0  30px 30px 0;
  border-radius: 10px;
  box-shadow: 0px 5px 20px 0px rgba(128, 112, 22, 0.2);
  position: relative;
  top: 0;
  left: 30px;
  transition: 0.5s;
}
.Services .card:hover{
  top: -25px
}
.Services i {
  font-size: 50px;
  margin: 30px 0;
}
.Services .card .card-body h2{
  color: #1c1e22;
  font-size: 30px;
  margin-bottom: 20px;
}
.Services .card .btn{
  color: #fff;
  background-color: #ffaa17;
}
.Services .card .btn:hover{
  background-color: #fff;
  color:#ffaa17 ;
  border: 1px solid  #ffaa17;
}

.portfolio {
  padding: 90px 0;
}
.portfolio .text {
  padding: 50px 0;
}
.portfolio .text h1 {
  font-size: 30px;
  font-weight: bold;
  color: #1c1e22;
}
.portfolio .text h1 span {
  color: #ffaa17;
}
.portfolio .card {
  position: relative;
  margin: 0 20px 50px 20px;
  overflow: hidden;
}
.portfolio .card img {
  max-width: 100%;
  transition: 0.6s;
}
.portfolio .card .caption {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #111111b9;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.6s;
  opacity: 0;
}
.portfolio .card:hover img {
  transform: rotate(4deg) scale(1.2);
}
.portfolio .card:hover .caption {
  opacity: 0.6;
  color: #fff;
}
.portfolio .card a {
  text-decoration: none;
  color: #fff;
}
.contact{
  background-color: #f0f4f9;
}
.contact form{
  width: 60%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contact form input{
  width: 48%;
    font-size: 18px;
    padding: 15px 10px;
    outline: none;
    border: 1px solid rgba(128, 112, 22, 0.3);
    margin-bottom: 20px;
    border-radius: 10px;
}
@media (max-width: 500px) {
  .contact form {
      width: 90%;
      justify-content: center;
  }
}
@media (max-width: 670px) {
  .contact form {
      width: 90%;
  }
}
@media (max-width: 1200px) {
  .contact form {
      width: 70%;
  }
}
@media (max-width: 500px) {
  .contact form input {
      width: 100%;
  }
}
.contact .text h1{
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 50px;
  font-weight: bold;
  color: #1c1e22;
}
.contact .text h1 span{
  color: #ffaa17;
}
.contact form .sub{
  background-color: #ffaa17;
  width: fit-content;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20%;
}
.contact form .sub:hover{
  color: #ffaa17;
  background-color: transparent;
  border: 1px solid #ffaa17;
}
.me{
  background-color: transparent;
}